/* Coolors Exported Palette - coolors.co/d71a20-221e20-dbc49a-ffffff-000000 */

/* HSL */
$color1: hsla(358%, 78%, 47%, 1);
$color2: hsla(330%, 6%, 13%, 1);
$color3: hsla(39%, 47%, 73%, 1);
$color4: hsla(0%, 0%, 100%, 1);
$color5: hsla(0%, 0%, 0%, 1);

/* RGB */
$color1: rgba(215, 26, 32, 1);
$color2: rgba(34, 30, 32, 1);
$color3: rgba(219, 196, 154, 1);
$color4: rgba(255, 255, 255, 1);
$color5: rgba(0, 0, 0, 1);